.navbar-wrapper{
    position: fixed;
    top: 0;
    left: 0;
    right : 0;
    box-sizing: border-box;
    height : 50px;
    display: flex;
    justify-content: space-between;
    z-index: 1000;
    align-items: center;
    backdrop-filter: blur(8px);
    padding-right: 1rem;
}

.navbar-wrapper .logo-wrapper{
    z-index: inherit;
    border-radius: 5px;
    width: 200px;
    max-height: 100%;
    padding : 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-wrapper .logo-wrapper .logo {
    max-height : 100%;
    height : 40px;
    width: 100%;
}

.navbar-wrapper .link-list{
    z-index: inherit;
    display: flex;
    flex-direction: row;
    flex : 1;
    justify-content: flex-start;
    padding-left: 1rem;
    column-gap: .3rem;
    font-size: 1.1rem;
    list-style: none;
    
}

.navbar-wrapper .link-wrapper{
    z-index: inherit;
    cursor: pointer;
    transition: all .2s ease-in-out;
    padding: .2rem .5rem;
    border-radius: .2rem;
    color : var(--secondary);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary);
}

.navbar-wrapper .link-wrapper:hover{
    background-color: var(--primary-dark);
}

.navbar-wrapper .link{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: .2rem;
    color : inherit;
    text-decoration: none;
}

.navbar-wrapper .link:after{
    background-color: black;
}

.navbar-wrapper .link-icon{
    z-index:inherit;
    font-size: .9rem;
}

.navbar-wrapper .navbar-outer-wrapper{
    position: fixed;
    transform: translateX(-100vw);
    background: linear-gradient(to right, var(--primary), var(--secondary));
    top: 0;
    left: 0;
    right : 0rem;
    box-sizing: border-box;
    min-height : 50px;
    display: flex;
    z-index: 900;
    transition :all .2s ease-in-out ;
}

.navbar-wrapper .personal-wrapper{
    display: flex;
    flex-direction: row;
    column-gap: .5rem;
    justify-content: center;
    align-items: center;
    z-index: 900;
}

.navbar-wrapper .personal-wrapper .btn{
    background-color: var(--primary);
    color : var(--secondary);
    column-gap: .3rem;
    padding : .2rem .5rem;
}

.navbar-wrapper .personal-wrapper .btn:hover{
    color : var(--secondary-light);
    background-color: var(--primary-dark);
}

.navbar-wrapper .animation {
    animation : colorate .5s cubic-bezier(0.51, 0.91, 0.61, 0.95) forwards;
}

@keyframes colorate {
    from{
        transform: translateX(-100vw);
    }
    to{
        transform: translateX(0);
    }
}
