.events-filter {
    min-width: 200px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding-left: 1rem;
    row-gap: 1rem;
    height: 100%;
}

.events-filter .filter-header {
    width: 100%;
}

.events-filter .filter-btn {
    padding: 1rem;
    font-size: 1.25rem;
    background-color: var(--primary-dark);
    color: var(--secondary);
    column-gap: .5rem;
    width: 100%;
    font-weight: bold;
}

.events-filter .filter-btn:hover {
    background-color: var(--primary);
}


.events-filter .horizontal-line {
    margin: 0;
    height: 1px;
    opacity: .5;
}

.events-filter .filter-body {
    display: flex;
    flex-direction: column;
    width: 100%;
    row-gap: 1rem;
}

.events-filter .filter-body .form-group {
    width: 100%;
    text-align: start;
}


.events-filter .filter-body .form-group label {
    font-size: 1.3rem;
}