:root{
    /* Color pallet */
    --primary : #10A8A8;
    --primary-dark : #158486;
    --secondary : #efd389;
    --secondary-light : #f4e7c4;
    --secondary-lightest : #f8f0d9;
    --neutral : rgb(3, 2, 2);
    --breaker : #E86A92;
    --breaker-light : #eb90ad;
    --breaker-dark : #bf5979;
    --danger : #F25E39;
    --danger-dark : #633333;
  }